{% extends "base.html" %}
{% block content %}
    <h2>Welcome to my Rock Paper Scissors game!</h2>
    <h3>Rules:</h3>
    <ul>
        <li>Each player must give their name and a gesture before clicking the Play Game button</li>
        <li>You have a choice of playing rock, paper or scissors</li>
        <li>The game will compare your gesture to your opposing player's gesture and decide who wins based on the following:</li>
        <li>Rock beats Scissors</li>
        <li>Scissors beats Paper</li>
        <li>Paper beats Rock</li>
    </ul>
    <p>Choose a game type:</p>
    <a href="/game/single_player">Single Player</a>
    <a href="/game/two_player">Two Players</a>
    {%endblock%}